{% extends "appCoder/padre.html" %}
{% load static %}

{% block section_name %}
<h3>Acerca de mi</h3>
<br>
<h2>Me encantaría que puedas conocer un poco más de mi y de TECHNO BOLDS💻</h2>
<p>Mi nombre es Néstor Muradas y tengo 34 años. Nací en Argentina, Capital Federal. <br> Desde chico soy un apasionado de la técnologia, heredado de mi padre que es Analista de Sistemas y sigue en el rubro actualmente. <br> Trabajé en IT por más de 15 años, pasando por areas de soporte, gestión de proyectos, producto y liderazgo de áreas de Infraestructura. <br> Actualmente estoy estudiando Python(Con lo que he creado este Blog) y estoy haciendo la carrera de Full Stack. <br> La idea de crear est Blog, surge de la necesidad de poder centralizar todas las noticias sobre técnologia en un solo lugar. <br> GRACIAS POR DEDICAR TIEMPO A SABER UN POCO MAS DE MI.</p>
{% endblock %}
