{% extends "appCoder/padre.html" %}
{% load static %}
{% block section_name %}
<h3>Buscador de profesionales por profesion</h3>
<br>
<form action="{% url 'buscar' %}" method="GET">
    <h1>Ingrese los datos del profesional a buscar</h1>
    <h2>Profesiones disponibles: Dermatologia, Pediatria, Psicologia, Nutricion, Traumatologia, Oftalmologia</h2>
    <input type="text" placeholder="profesion" name="profesion" id="profesion" >
    <input type="submit" value="Buscar">
</form>
{% endblock %}




