<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB NO EXISTENTE</title>
</head>
<body>
    <h1>LO SENTIMOS NO ENCONTRAMOS LA WEB QUE ESTA BUSCANDO</h1>
    <h2>Por favor, regrese a nuestra Web principal haciendo CLICK sobre el siguiente enlace, para poder seguir navegando</h2>
    <a class="navbar-brand" href="{% url 'inicio' %}">CLICK PARA REGRESAR AL HOME DE TECHNO BOLDS 💻</a>
</body>
</html>